*{
    box-sizing: border-box;
}
body{
    background: rgb(247, 226, 255);
    line-height: 25px;
    color: #777777;
    
}
.section{
    background: white;
    height: 540px;
    padding: 2%;

}
.main{
    
    border-bottom: solid 1.5px;
    border-bottom-color: gray;
    padding-left:20px;
    padding-right: 20px;
    background: #ffffff;
    height: 55px;
    margin-bottom:20px; 

}

header{
    margin-left:18%;
    padding: 15px 20px 15px 20px;
    text-align: center;
    background: teal;
    float: left;
    color: #fff;   
}
nav{
    margin-left:68%;
    padding: 16px 20px 16px 20px;
}

#portfolio{
    padding: 0px 20px 0px 20px;
}

#section{
    padding: 2%;
    background: #fff;
    
    margin:auto;
    
}


h1{
    border-bottom:solid 1.5px gray;
    padding-bottom: 15px;
    color: teal;
}
img{
    float: left;
    padding-right: 10px;
}
footer{
    border-top: solid 3px;
    border-top-color: teal;
    padding: 0 20px 0 20px;
    background:#666666;
    height: 50px;
    margin-bottom:1px;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0px;
    color: #fff;
}
#name, #email, #message{
    width: 100%;
}

#submit{
    border:0;
    color: #fff;
    background: teal;
    padding: 10px 20px;
}

.aa{
    position: absolute;
    width: 200px;
    height: 40px;
    top: 330px;
    left: 38px;
    color: #ffffff;
    background: green;
	text-align:center;
	font-weight:bold;
    opacity:0.7;
    
}

.bb{
    position: absolute;
    width: 200px;
    height: 40px;
    top: 330px;
    left: 249px;
    color: #ffffff;
    background: green;
	text-align:center;
	font-weight:bold;
    opacity:0.7;
    
}

.cc{
    position: absolute;
    width: 200px;
    height: 40px;
    top: 330px;
    left: 458px;
    color: #ffffff;
    background: green;
	text-align:center;
	font-weight:bold;
    opacity:0.7;
    
}

.dd{
    position: absolute;
    width: 200px;
    height: 40px;
    top: 330px;
    left: 668px;
    color: #ffffff;
    background: green;
	text-align:center;
	font-weight:bold;
    opacity:0.7;
    
}

.ee{
    position: absolute;
    width: 200px;
    height: 40px;
    top: 330px;
    left: 878px;
    color: #ffffff;
    background: green;
	text-align:center;
	font-weight:bold;
    opacity:0.7;
    
}

.ff{
    position: absolute;
    width: 200px;
    height: 40px;
    top: 330px;
    left: 1089px;
    color: #ffffff;
    background: green;
	text-align:center;
	font-weight:bold;
    opacity:0.7;
    
}
img{
    margin-bottom: 10px;
    
}



@media screen and (max-width: 1328.8px) {
    .ff{
        top: 540px;
        left: 34px;

    }
    .ee{
        top: 330px;
        left: 874px;
    }
    .dd{
        top: 330px;
        left: 664px;
    }
    .cc{
        top: 330px;
        left: 454px;
    }
    .bb{
        top: 330px;
        left: 245px;
    }
    .aa{
        top: 330px;
        left: 34px;
    }
    
}
@media screen and (max-width: 1275.8px) {
    .ff{
        top: 530px;
        left: 33px;

    }
    .ee{
        top: 330px;
        left: 873px;
    }
    .dd{
        top: 330px;
        left: 663px;
    }
    .cc{
        top: 330px;
        left: 453px;
    }
    .bb{
        top: 330px;
        left: 243px;
    }
    .aa{
        top: 330px;
        left: 33px;
    }
    
}

@media screen and (max-width: 1109.8px) {
    .ff{
        top: 535px;
        left: 240px;

    }
    .ee{
        top: 535px;
        left: 29px;
    }
    .dd{
        top: 325px;
        left: 659px;
    }
    .cc{
        top: 325px;
        left: 449px;
    }
    .bb{
        top: 325px;
        left: 240px;
    }
    .aa{
        top: 325px;
        left: 29px;
    }
    
}
@media screen and (max-width: 1065.8px) {
    .ff{
        top: 535px;
        left: 239px;

    }
    .ee{
        top: 535px;
        left: 29px;
    }
    .dd{
        top: 325px;
        left: 659px;
    }
    .cc{
        top: 325px;
        left: 449px;
    }
    .bb{
        top: 325px;
        left: 239px;
    }
    .aa{
        top: 325px;
        left: 29px;
    }

    
}
@media screen and (max-width: 980px) {
    body {
        background-color: lightblue;
        width: 965px;
    }
    .section{
        font-size: 18px;
        height: 550px;
        padding: 2%;
        background: #ffffff;
        margin: auto;
    }
    
}

@media screen and (max-width: 768px) {
    body {

        background-color: lightcoral;
        width: 753px;
    }
    .section{
        font-size: 18px;
        width: 661px;
        padding: 2%;
        background: #ffffff;
        margin: auto;
    }

    nav{

        margin-left: 63%;
    }

    .ff{
        top: 530px;
        left: 489px;

    }
    .ee{
        top: 530px;
        left: 279px;
    }
    .dd{
        top: 530px;
        left: 69px;
    }
    .cc{
        top: 320px;
        left: 489px;
    }
    .bb{
        top: 320px;
        left: 279px;
    }
    .aa{
        top: 320px;
        left: 69px;
    }
    
}


@media screen and (max-width: 640px) {
    body {
        background-color: lightsteelblue;
        width: 625px;
    }

    .main{
        padding-left: 0px;
        padding-right: 0px;
        height: auto;
    }
    footer{
        position: relative;
    }
   

    .section{
        font-size: 18px;
        width: 450px;
        padding: 2%;
        background: #ffffff;
        margin: 12px;
        height: 740px;
    }
    section{
        margin: 10%;
    }
    .ff{
        top: 798px;
        left: 242px;

    }
    .ee{
        top: 798px;
        left: 33px;
    }
    .dd{
        top: 587px;
        left: 242px;
    }
    .cc{
        top: 587px;
        left: 33px;
    }
    .bb{
        top: 377px;
        left: 242px;
    }
    .aa{
        top: 377px;
        left: 33px;
    }

    header {
        float: none;
        margin-left: 0px;
    }

    nav{
        margin-left: 0%;
        background: #fff;
        text-align: center;
    }
}

